<footer>
	<ul class="nav">
		<li><a href="https://github.com/maialb216">Github</a></li>
		<li><a href="https://jsfiddle.net/user/mbailey216/fiddles/">jsfiddle</a></li>
		<li><a href="https://www.codecademy.com/profiles/mbailey216">CodeAcademy</a></li>
		<li><a href="https://www.freecodecamp.org/maialb">FreeCodeCamp</a></li>
	</ul>
	<p>
		<a href="http://validator.w3.org/check?uri=referer" id = "validation_link_html"><img style="border:0;width:88px;height:31px" src="/images/valid-html-blue" alt=""></a>
		<a href="https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css"><img style="border:0;width:88px;height:31px" src="https://www.w3.org/Icons/valid-css-blue" alt=""></a>
		<script>
			document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
			document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
		</script>                
	</p>
</footer>