/* note to self - text alice blue, background teal, accents light green */


@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

html {
	background-color: teal;
	color: aliceblue;
	font-family: 'Martel', serif;
	list-style-position: inside;
}

body {
	margin-left: 25%;
	margin-right: 25%
}

h1, h2, h3, h4 {
	color: lightgreen;
	text-align: center;
	font-family: 'Prata', serif;
}

h3#tagline {
	font-style: italic;
}

p#mission {
	font-style: italic;
	color: lightgreen;
}

a#validation_link_html, a#validation_link_css {
	text-decoration: none;
}

footer {
	text-align: center;
}

a:link {
	color: aqua;
}

figure {
	text-align: center;
}

figcaption {
	font-style: italic;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}