/* note to self - text alice blue, background teal, accents light green */


@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

html {
	background-color: teal;
	color: aliceblue;
	font-family: 'Martel', serif;
	list-style-position: inside;
}

body {
	margin-left: 25%;
	margin-right: 25%
}

h1, h2, h3, h4 {
	color: lightgreen;
	text-align: center;
	font-family: 'Prata', serif;
}

p#mission {
	font-style: italic;
	color: lightgreen;
}

footer {
	text-align: center;
}

a:link {
	color: aqua;
}

figure {
	text-align: center;
}

.nav {
	float: left;
	text-align: center;
}